extends layout

block content
  - var next_id = Number(post.id) + 1
  - var prev_id = Number(post.id) - 1
  div.row.center-block
    div.alert.alert-info
      strong Instructions: 
      | Read each post.
      | Answer the questions about the image and its posts, using the best of your ability. Clicking "Previous" or "Next" will save your answers
  div.row.center-block
    div(class="panel panel-default col-xs-12 col-md-12")
      div.panel-heading
        h3= "Image and Comments to Rate"
      div.panel-body
        div.col-xs-7.col-md-7
          img(src=post.image_url)
          br
          h5= "Owner Comment"
          strong
            = post.profile_owner_id + ": "
          = post.owner_caption
        div.col-xs-5.col-md-5.panel
          div.panel-heading
            h3.panel-title
              = "Comments"
          div.panel-body
            div.scrolldozer
              for comment in post.comments
                strong
                  = comment.user_id + ": "
                = comment.comment
                br        
  div.row.center-block
    div.panel.panel-default.col-xs-12.col-md-12
      div.panel-heading
        h3.panel-title
          = "Survey questions"
      div.panel-body
        table.table.table-striped
          tr
            th= "Question"
            th= "Yes"
            th= "No"
          - var question_number = 1
          each question in questions
            tr
              div(id="questions" + question_number)
                td= question.question
                td
                  input(type="radio" name="question" + question_number id="question" + question_number value="true")
                td
                  input(type="radio" name="question" + question_number id="question" + question_number value="false")
            - question_number += 1
        div.col-xs-1.col-md-1.button-div
          if prev_id >= 0
            button.btn.btn-primary(type="submit")
              a.white-text(id="prev-button" data-id=post.id href="#") Previous
        div.col-xs-2.col-md-2.col-xs-offset-4.col-xs-offset-4.button-div(type="submit")
          button.btn.btn-primary.btn-block(type="submit")
            a.white-text(id="submit-button" data-id=post.id href="#") Submit
        div.col-xs-1.col-md-1.col-xs-offset-4.col-xs-offset-4.button-div(type="submit")
          if next_id <= survey_length
            button.btn.btn-primary(type="submit")
              a.white-text(id="next-button" data-id=post.id href="#") Next
